# Ignore node_modules directory
node_modules

# Ignore npm debug logs
npm-debug.log*

# Ignore git directory
.git
.gitignore

# Ignore test reports
coverage/

# Ignore build output directory
dist/

# Ignore editor config files
.editorconfig
.vscode/
.idea/

# Ignore npm lock files (if present)
package-lock.json
yarn.lock